SECRET_KEY=tu-clave-segura-aqui-cambiar-en-produccion
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,tuapp.onrender.com
DATABASE_URL=postgresql://user:password@localhost:5432/ciudadconnect_db
GOOGLE_MAPS_API_KEY=
